.watson-sidebar {
  min-height: 100vh;
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: 2rem 1rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul:nth-child(2) {
    padding-left: 2rem;
  }

  a {
    color: currentColor;
  }
}

.watson-logo {
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2rem;
  display: inline-block;
  font-family: 'Noto serif';
  letter-spacing: -0.05em;
}
