.watson-sidebar {
  outline: 1px solid blue;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: auto;
}

.watson-logo {
  font-size: 2em;
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
